.left-menue-full-clicked {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333b4e;
    width: 240px;
    height: 1024px;
    overflow: hidden;
    font-size: 20px;
    color: #fefcfc;
}

.account-information,
.profile-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 48px;
    width: 48px;
    height: 48px;
}

.account-information {
    top: 16px;
    left: 16px;
    border-radius: 12px;
    width: 208px;
}


.help-text {
    position: absolute;
    top: 12px;
    left: 56px;
    width: 116px;
    height: 24px;
    color: #fefcfc;
}

.user-name {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 24px;
}

.separator {
    position: absolute;
    left: 16px;
    border-radius: 12px;
    width: 208px;
    top: 76px;
    background-color: #885af8;
    height: 1px;
}

.dashboard {
    position: absolute;
    left: 16px;
    border-radius: 12px;
    width: 208px;
    top: 89px;
    height: 48px;

}

.dashboard:hover {
    color: #2ed47a;
    background-color: #edffc8;
    cursor: pointer;
}

.help-text:hover {
    color: #333b4e;
}

.factories {
    top: 149px;
    height: 48px;
    position: absolute;
    left: 16px;
    border-radius: 12px;
    width: 208px;
}

.help-text2 {
    position: absolute;
    top: 12px;
    left: 56px;
    width: 116px;
    height: 24px;
    color: black;
}

.agents {
    position: absolute;
    left: 16px;
    border-radius: 12px;
    width: 208px;
    height: 48px;
    top: 209px;
}

.business-requests {
    position: absolute;
    top: 269px;
    left: 16px;
    border-radius: 12px;
    width: 208px;
    height: 48px;
}

.br-text {
    position: absolute;
    top: 12px;
    left: 56px;
    width: 140px;
    height: 24px;
    color: #fefcfc;
  }

  .br-text:hover {
    color: #000;
  }

  .business-requests:hover{
    background-color: #fefcfc;
    color: #2ed47a;
  }

  .orders{
    position: absolute;
    left: 16px;
    border-radius: 12px;
    width: 208px;
    top: 329px;
  height: 48px;
  }

  .orders:hover {
    background-color: #fefcfc;
    color: #2ed47a;
  }

  .separator2{
    position: absolute;
  left: 16px;
  border-radius: 12px;
  width: 208px;
  top: 389px;
  background-color: #885af8;
  height: 1px;
  }